.card-widget {
  display:flex;
  flex-direction: column;
  background-color: #e5f8e5;
  padding: 20px;
  width: fit-content;
}

.card-widget__types {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:fit-content;
  margin-bottom: 20px;
  padding: 10px 0;
}

.card-widget__type {
  width:50px;
  height: 30px;
  margin: 0 5px;
  background-position: center;
  background-size: cover;
  filter: saturate(0%);
}

.type_active {
  filter: none;
}

.type_mir {
  background-image: url("../../img/mir-svgrepo-com.svg");
}

.type_american-express {
  background-image: url("../../img/american-express-svgrepo-com.svg");
}

.type_visa {
  background-image: url("../../img/visa-svgrepo-com.svg");
}

.type_mastercard {
  background-image: url("../../img/mastercard-full-svgrepo-com.svg");
}

.type_jcb {
  background-image: url("../../img/jcb-svgrepo-com.svg");
}

.type_dinners-club {
  background-image: url("../../img/dinners-club-svgrepo-com.svg");
}

.type_discover {
  background-image: url("../../img/discover-svgrepo-com.svg");
}

.card-widget__input {
  padding: 10px;
  width: 200px;
}

.card-widget__button {
  padding: 10px;
  color: #ffffff;
  background-color: rgb(118, 192, 118);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}